/* Comments */
a.comments-link { background:-16px -8px; padding-left:17px; margin-left:8px; display:block; float:left;	  }
.by-line a.comments-link { line-height: 1.2em; float:none; display:inline; background-position:-15px -14px;  }
.cm-actions form { display:inline; }

/* Comments */
a.comments-link { background:-16px -8px; padding-left:17px; margin-left:8px; display:block; float:left;	  }
.by-line a.comments-link { line-height: 1.2em; float:none; display:inline; background-position:-14px -15px; letter-spacing:-1px; }

#posts tr.mvp .post-author, #page-comments .mvp .context-link { color:#6f9d3f; }
#page-comments .mvp .content  { color:#81b558 }

.character-info .user-name { display:inline; position:relative; }
.character-info .user-name .context-link { font-size:13px; }

/* PageNav */
.pageNav { position:absolute; right:0; bottom:0; cursor:default; padding:0 10px 0 25px; font-size:11px; font-weight:bold; font-family:Trebuchet MS, Verdana; background-repeat:no-repeat; background-position: 0 2px; white-space:nowrap; }
.page-sep { display:inline; }
#content .pageNav a, #content .pageNav .active { 	padding:2px; border:1px solid transparent;
													line-height:15px; min-width:15px; display:inline-block; text-align:center;
													-moz-border-radius:3px; border-radius:3px; }
#content .pageNav a:hover { }
#content .pageNav .active { cursor:default;	}

#thread a.b-type span { }
#thread a.b-type:hover span { color:#fff;}


.button1 td { padding:0; }
.ui-button .button1 { float:none }


/* Avatars */

.post-user .avatar, #page-comments .avatar { background:no-repeat; position:absolute; top:28px; left:24px;   }
.post-user .avatar-interior, #page-comments .avatar-interior {  background: no-repeat; height:64px; width:64px; }
.post-user .avatar-interior a { height:100%; width:100%; display: block; }
#page-comments .nested .avatar-interior { height:32px; width:32px; }
#page-comments .nested .comment-interior { padding-left: 85px; }
.noCharacter { padding:10px; }



/* Announcement */

.cms-announcement { width: 80%; margin:10px auto 0; -moz-border-radius:7px; border-radius:7px; background:no-repeat; }
.cms-announcement .announce-content { padding:18px 40px 18px 131px; overflow:hidden; margin: 0 0 15px; }
.cms-announcement .announce-image { float:left; height:72px; } /* Min Height for BG */
.cms-announcement .announce-title { font-size:18px;  color:white; }
.cms-announcement .announce-detail { }
.cms-announcement .announce-sig { font-size:11px; }
#station-view .cms-announcement { margin:20px auto; }

/* ranking / voting / karma */
.rate-action a  { line-height:12px;}
.karma {  white-space:nowrap; padding:8px 0; }
.karma .rate-btn-holder {  position:relative; float:right; }
.karma .rate-btn {  background: no-repeat; width:51px; height:36px;  display:block; visibility:hidden; }
.karma .ratedown { width:51px; }
.karma .rateup { }
.karma .rateup span { 	display:block; margin-left:16px; padding:0 8px 0 2px; height:36px; line-height:36px; text-align:center; white-space:nowrap; 
						background-position:right -108px; font-size:10px; }
.karma.voted .selected .rate-btn { visibility:visible }
.karma .rate-btn-holder:hover .ratedown, .karma .post-info .ratedown:hover  { background-position:0 -36px; }
.karma .rateup { background-position:-51px 0; }
.karma .rate-btn-holder:hover .rateup, .karma .rateup:hover { background-position:-51px -36px; }
.karma .rate-btn-holder:hover .rateup span, .karma .rateup:hover span { background-position:right -144px;  }

#content .karma .selected .ratedown { background-position:0 -72px; }
#content .karma .selected .rateup { background-position:-51px -72px; }
#content .karma .selected .rateup span { background-position:right -180px; }

#content .rate-btn, #content .karma .rate-btn-holder.selected:hover .ratebtn { }
#content .rate-btn-holder a.rate-btn:hover, #content .rate-btn-holder:hover a.rate-btn { }
.karma-feedback, .prev-vote { 	border:7px solid transparent; clear:both; text-align:center;  width:88px; padding:5px 0; margin-top:3px;
								-moz-border-radius:5px 0 3px 0; border-radius:5px 0 3px 0; }
.karma-feedback { visibility:hidden; }
.iehover .karma-feedback, .comment:hover .karma-feedback, .post:hover .karma-feedback { visibility:visible;}
.prev-vote { display:none; }

.karma .rate-action { position:absolute; right:0; top:0px; display:none; }
.karma .dropdown-wrapper { padding:5px 0;}
.karma .dropdown-wrapper, .karma .ui-dropdown { width:auto; white-space:nowrap }
#content .rate-action a { display:block; padding:2px 10px 2px 20px; font-size:12px;  }
#content .rate-action a img { vertical-align:middle; margin-right:6px;  }
#content .rate-action a.report {	background:10px 50% no-repeat;
									border-top:1px solid transparent; padding-left:36px; line-height:20px; }
#content .rate-action a.report:hover { }

.break-down { font:bold italic 15px Calibri; color:#666 }
.break-down .up { color:#0b7d33; }
.break-down .down { color:#9E0202; }

#content .hidden .hidden-reveal { font-size:11px; margin-left:13px; display:inline; }
#content .hidden-reveal { display:none }
#content .hidden-reveal  { }


/* Banned Messaging */
.bannedAlert { text-align:center; padding:40px 0; }
.bannedAlert strong { color:white; }


/* trending topics */
.poptopic-list { line-height:16px; }
.poptopic-list a { display:block;  border-top:1px solid transparent; /*height:48px;*/}
.poptopic-list a .int { display:block; background:right 0 no-repeat; font-size:11px; padding:7px 14px; }
.poptopic-list a .title { font-weight:bold; display:block; }
.poptopic-list a .desc { }
.poptopic-list a .loc { }
.poptopic-list a:first-child { border: none }
.poptopic-list a:hover {  }
.poptopic-list a:hover .int { background-position:right -48px; }
.poptopic-list a:hover span {  }


/* Errors */

#post-errors { font-weight:bold; color:#F00;}
#post-errors ul { margin: 0 0 10px 20px; list-style: disc; }
#post-errors ul li { padding: 2px 0; }

/* Post Reporting */

#report-post { display:none; }
#report-post table { width:100%; }
#report-post td { vertical-align:top; }
#report-post .report-detail { font-size:12px; font-weight:normal; width:75%; }
#report-post #report-detail { width:90%; -moz-border-radius:8px; border-radius:8px; }
#report-post .report-data, #report-post .report-submit { padding:10px 0;}
#report-post .report-desc { text-align:right; font-size:14px; }
#report-post .report-desc div { padding:0 20px; }
#report-post .report-desc div small { font-size:10px; display:block; }

#report-post .report-desc, #report-post .report-detail { padding-top:10px; }

#report-success { display:none; padding:20px; }
#page-comments .reporting, #thread .reporting .post-interior { background-position:50% 100%; background-repeat:no-repeat; }
