@charset "utf-8";
 @import url("cms-common.css");

#search-results { padding:30px 60px 40px 20px; }
#results-interior { overflow:hidden; padding-left:20px; }
.search-categories { padding:30px 0 10px ; overflow:hidden; }
#search-results .search-categories a { display:block; float:left; padding:4px 10px 4px 32px; margin-right:10px; 
					-moz-border-radius:5px; border-radius:5px;  }
#search-results .search-categories a:hover, #search-results .search-categories a.selected { color:#fff; }


#search-results .results-title { font-size:30px; padding-top:15px;  }
#search-results .results-title span { color:white; } 

#search-results .results-navigation { padding:5px 0; }
#search-results .per-page { float:right; }
.related-terms { padding:10px 0; }

.results-navigation .selected { color:#fff; font-weight:bold; text-decoration:underline; }

#left-results { width:573px; float:left; }
#right-results { width:307px; float:right; }

#right-results .results-title { font-size:13px; text-decoration:underline; padding-bottom:10px; }
.result-set { border-top:1px solid transparent;  }
#right-results .search-result { background:none; line-height:16px; padding:0; }
#right-results .search-title { font-size:14px; }

#search-results table.table { width:100%; margin-bottom:30px;  }
#search-results table.table .table-link { padding:0; }
#search-results table.table .table-link a { display:block; padding:10px; }

.search-result { margin:0 0 10px 0; padding:10px 20px 10px 25px; clear:both; }
.search-result:hover { } 
.search-result .result-title { position:relative; }
.search-result .multi-type { padding-left:21px;  }
.type-icon { background-repeat:no-repeat; background-position:50%; height:32px; width:32px; position:absolute; left:-39px; margin: 3px 0 0 0; }
.type-wowitem, .type-wowcharacter { -moz-background-size:100%; -webkit-background-size:100%; background-size:100%; }
#right-results .type-wowguild { background:none; left:-48px; }

#right-results .more-results { text-align:right; padding-top:6px; }

.type-icon img { display:block; visibility:hidden; }
.search-result .type-wowitem, .search-result .type-wowcharacter  { border-width:1px; border-style:solid; }

.iconText { display:none; }
.iconCol { width:40px; text-align:center; }

.list-icon { display:block; float:left; padding:1px; margin-right:10px; border-width:1px; border-style:solid;}
.list-icon img { display:block; height:18px; width: 18px; }

.search-result .search-title { font-size:16px; text-decoration:underline;  }
.search-result .search-content { padding-bottom:5px; width:100%; overflow:hidden; line-height:1.5em; }
.search-result .by-line { padding-bottom:4px;  }
.search-result .by-line a { }
.search-result .by-line a:hover { text-decoration: underline; }
.search-result .by-line a:focus { text-decoration: underline; }
.search-result em, .search-result .search-term { font-style: normal; font-weight:bold; }
.search-result a em { color:inherit; }
.search-result .search-results-url {  }
.search-result .result-image { float:left; padding:2px 15px 15px 0; }
.search-result .result-image a { display:block; }
.search-result .result-image img { border:1px solid transparent; }

 /* paging wrapper in search page */
.search-paging-container { position:relative; clear:both; padding:25px 0; }
.search-paging-container .page-nav { position:relative }


#search-again { margin:20px 0; padding:10px 20px; border:3px solid transparent; color:white;
				-moz-border-radius:10px; border-radius:10px; }
#search-again .search-input { padding:10px 0; }
#search-again .search-input #search-field,
#search-again .search-input #search-again-field { width:85%; padding: 7px; -moz-border-radius: 5px; border-radius: 5px; -moz-box-shadow:0 0 10px -3px #000; -webkit-box-shadow:0 0 10px -3px #000; box-shadow:0 0 10px -3px #000; background:#FFF; border-width:0; vertical-align: middle; display: inline-block; *display: inline; *zoom: 1; }
