@charset "utf-8";

/* profile layout */
.profile-wrapper { color: #c09a67; }
.profile-sidebar-anchor { float: left; width: 0; height: 0; position: relative; }
.profile-sidebar-outer { position: absolute; left: 0; top: 0; }
.profile-sidebar-inner { width: 230px; height: 684px; background: url("../images/profile/sidebar-bg.jpg") no-repeat; }
.profile-contents { margin-left: 230px; min-height: 807px; padding-bottom: 40px; }
.profile-section-header { padding: 10px 15px; }
.profile-section-header .category { font-size: 26px; }
.profile-section { background: url("../images/profile/section-bg.png") no-repeat; padding: 15px; min-height: 400px; }

	/* sidebar menu */
	ul.profile-sidebar-menu { width: 196px; margin: 14px 0 0 25px; padding-bottom: 1px; background: url("../images/profile/sidebar-menu-sep.gif") left bottom no-repeat; font-size:13px; }
	ul.profile-sidebar-menu li { padding-top: 1px; background: url("../images/profile/sidebar-menu-sep.gif") left top no-repeat; white-space: nowrap; }
	ul.profile-sidebar-menu a { display: block; padding-left: 3px; }
	ul.profile-sidebar-menu a.has-submenu .arrow { background: url("../images/profile/sidebar-menu-arrows.png") right 9px no-repeat; }
	ul.profile-sidebar-menu a.has-submenu:hover .arrow { background-position: right -41px; }
	ul.profile-sidebar-menu a.back-to .arrow { padding-right: 10px; font-style: normal; vertical-align: middle; background: url("../images/profile/sidebar-menu-arrows.png") 2px -91px no-repeat; padding-left: 18px; }
	ul.profile-sidebar-menu a.back-to:hover .arrow { background-position: 2px -141px; }
	ul.profile-sidebar-menu a:hover { background-color: rgba(0, 0, 0, 0.33333); }
	ul.profile-sidebar-menu a .arrow { display: block; line-height: 30px; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden; }
	ul.profile-sidebar-menu a.vault .icon { padding-right: 16px; background: url("../images/profile/sidebar-lock.png") right -49px no-repeat; }
	ul.profile-sidebar-menu a.active { color: #fff; font-weight: bold; }
	ul.profile-sidebar-menu a.active:hover { background: none; }
	ul.profile-sidebar-menu a.active.has-submenu:hover .arrow { background-position: right 9px; }

	ul.profile-sidebar-menu li.active a { color: #fff; font-weight: bold; }
	ul.profile-sidebar-menu li.active a:hover { background: none; }
	ul.profile-sidebar-menu li.active a.has-submenu:hover .arrow { background-position: right 9px; }

	ul.profile-sidebar-menu li.disabled a { color: #8B5F03; cursor: help; }
	ul.profile-sidebar-menu li.disabled a:hover .arrow { background-position: right 9px; }
	ul.profile-sidebar-menu li.disabled .arrow { background: none !important; }
	ul.profile-sidebar-menu li.disabled a.vault .icon { background-position: right 1px; }

	/* sidebar links */
	ul.profile-sidebar-links { margin: 30px 0 0 25px; white-space: nowrap; }
	ul.profile-sidebar-links li { font-size: 11px; line-height: 28px; }
	ul.profile-sidebar-links a { color: #e75a00; padding: 5px 0; }
	ul.profile-sidebar-links a:hover { color: white !important; }

/* view options */
ul.profile-view-options { font-size: 12px; float: right; white-space: nowrap; }
ul.profile-view-options li { float: right; margin: 0 0 0 17px; }
ul.profile-view-options a { display: block; padding: 4px 0 4px 19px; line-height: 16px; background: url("../images/icons/view-options.png") no-repeat 0 center; }
ul.profile-view-options li.current a { color: white; font-weight: bold; }
ul.profile-view-options a.disabled { color: #595959; }
ul.profile-view-options a.tabular { background-position: -150px center; }
ul.profile-view-options a.advanced { background-position: 0 center; }
ul.profile-view-options a.has-icon { background: none; padding-left: 0; line-height: 16px; }
ul.profile-view-options .icon { float: left; margin-right: 4px; }
ul.profile-view-options a.tip { cursor: help; border-bottom: 0; }
.profile-section-header ul.profile-view-options { padding-top: 12px; }

/* boxes */
.profile-box-full { background: url(../images/character/summary/profilebox-borderfade.png) no-repeat; padding: 20px 30px; margin-top: 6px; }
.profile-box-simple { border-top: 2px solid #46230e; padding: 11px 0 11px; margin-top: 5px; }

/* shared between all types of profiles */

	/* summary header info */
	.profile-info-anchor { position: relative; height: 218px; background: no-repeat; z-index: 1; }
	.profile-info-anchor, .profile-info { width: 700px; }
	.profile-info { position: absolute; left: 25px; top: 45px; line-height: normal; letter-spacing: -0.05em; }
	.profile-info .name { float: left; font-size: 56px; font-weight: bold; color: white; line-height: 1.1em; position: relative; left: -3px; letter-spacing: -0.05em; }
	.profile-info .name a { color: white; }
	.profile-info .under-name { font-size: 14px; font-weight: normal; line-height: 14px; letter-spacing: normal }
	.profile-info .level strong { font-family: 'Arial Black', Verdana, Arial, sans-serif; font-weight: normal; font-size: 14px; }
	.profile-info .realm { border-bottom: 0; }
	.profile-info .realm a:hover { color: white; }
	.profile-info .comma { color: #cccccc; }
	.profile-info .achievements { margin-top: 20px; }
	.profile-info .achievements a { font-size: 20px; font-family: 'Arial Black', Arial, sans-serif; font-weight: bold; color: white; padding-left: 11px; background: url("../images/icons/achievements.gif") left 7px no-repeat; line-height: 23px; }

	/* sidebar info */
	.profile-sidebar-info { margin-left: 25px; margin-top: 10px; line-height: normal; letter-spacing: -0.05em; }
	.profile-sidebar-info .name { font-size: 22px; font-weight: bold; color: white; line-height: 1.1em; }
	.profile-sidebar-info .name a { color: white; }
	.profile-sidebar-info .under-name { font-size: 12px; letter-spacing: normal; }
	.profile-sidebar-info .level strong { font-family: 'Arial Black', Verdana, Arial, sans-serif; font-weight: bold; }
	.profile-sidebar-info .guild { margin-top: 3px; }
	.profile-sidebar-info .guild a { font-size: 14px; font-weight: normal; }
	.profile-sidebar-info .guild a:hover { color: white; }
	.profile-sidebar-info .realm { margin-top: 5px; font-weight: normal; font-size: 10px; letter-spacing: normal; }
	.profile-sidebar-info .realm .tip { border-bottom: 0; }
	.profile-sidebar-info .achievements { margin-top: 5px; }
	.profile-sidebar-info .achievements a { font-size: 14px; font-family: 'Arial Black', Verdana, Arial, sans-serif; font-weight: bold; color: white; padding-left: 17px; background: url("../images/icons/achievements.gif") left center no-repeat; }

	/* alliance */
	.profile-wrapper-alliance .realm, .profile-wrapper-alliance .realm a { color: #0078ff; }
	.profile-wrapper-alliance .profile-sidebar-info .name a:hover,
	.profile-wrapper-alliance .profile-info .achievements a:hover { text-decoration:underline; }
	.profile-wrapper-alliance .profile-info-anchor { background-image: url("../images/character/summary/sidebar-bg-alliance.png"); }

	/* horde */
	.profile-wrapper-horde .realm, .profile-wrapper-horde .realm a { color: #b30000; }
	.profile-wrapper-horde .profile-sidebar-info .name a:hover,
	.profile-wrapper-horde .profile-info .achievements a:hover { /*text-shadow: 0 0 15px #c64040, 0 0 5px #c64040;*/ text-decoration:underline; }
	.profile-wrapper-horde .profile-info-anchor { background-image: url("../images/character/summary/sidebar-bg-horde.png"); }

/* character-specific stuff */

	/* summary header info */
	.profile-info .title-guild { float: left; padding-left: 11px; padding-top: 10px; }
	.profile-info .title-guild .title { font-size: 14px; color: #e0e0e0; line-height: 25px; }
	.profile-info .title-guild .guild { line-height: 15px;}
	.profile-info .title-guild .guild a { font-size: 20px; }

	/* sidebar portrait */
	.profile-sidebar-crest { background: no-repeat; min-height: 218px; }

	/* model */
	a.profile-sidebar-character-model { display: block; height: 116px; background: no-repeat left bottom; position: relative; }
	a.profile-sidebar-character-model .fade  { position: absolute; width: 230px; height: 20px;  left: 0; bottom: 0; background: url("../images/character/model-fade.png") no-repeat center bottom; }
	a.profile-sidebar-character-model .hover { position: absolute; width: 230px; height: 116px; left: 0; top: 0; background: url("../images/character/model-hover.png") no-repeat 0 -500px; opacity: 0; -webkit-transition: opacity 0.1s linear; -o-transition: all 0.1s linear; -moz-transition: opacity 0.1s linear; transition: opacity 0.1s linear; }
	a.profile-sidebar-character-model:hover .hover { opacity: 1; }

	/* alliance */
	.profile-wrapper-alliance .profile-sidebar-crest { background-image: url("../images/character/sidebar-bg-alliance.gif"); }
	.profile-wrapper-alliance a.profile-sidebar-character-model .hover { background-position: 0 0;  }

	/* horde */
	.profile-wrapper-horde .profile-sidebar-crest { background-image: url("../images/character/sidebar-bg-horde.gif"); }
	.profile-wrapper-horde a.profile-sidebar-character-model .hover { background-position: -230px 0; }

	/* links */
	ul.profile-sidebar-links a.viewposts { padding-left: 28px; background: url("../images/icons/viewposts.gif") no-repeat 3px center; }
	ul.profile-sidebar-links a.wowhead   { padding-left: 28px; background: url("../images/icons/wowhead.png") no-repeat 3px center; }

/* guild-specific stuff */

	/* summary header info */
	.profile-guild-info-anchor .guild-tabard { left: 757px; top: -19px; }
	.profile-guild-info .name { float: none; }

	/* tabard */
	.guild-tabard { width: 222px; height: 240px; position: absolute; background: url("../images/loaders/canvas-loader.gif") no-repeat center center; }
	.guild-tabard-default { width: 216px; height:240px; background: url("../images/guild/tabards/default-alliance.png") no-repeat;}
	.guild-tabard-default.tabard-horde { background-image: url("../images/guild/tabards/default-horde.png") }

	/* sidebar tabard */
	.profile-sidebar-tabard { height: 218px; position: relative; width: 230px; }
	.profile-sidebar-tabard .guild-tabard { left: 7px; top: 0; overflow: hidden; }
	.profile-sidebar-tabard .guild-tabard .tabard-overlay { position: absolute; left: -22px; top: 1px; width: 269px; height: 289px; background: url("../images/guild/tabards/bg_overlay_01.png") no-repeat; }
	.profile-sidebar-tabard .guild-tabard .crest { position: absolute; left: 0; top: 112px; width: 72px; height: 65px; background: no-repeat; }
	.profile-sidebar-tabard .tabard-link { position: absolute; left: 0; top: 0; width: 230px; height: 130px; }
	.profile-sidebar-tabard .profile-sidebar-info { position: absolute; top: 116px; width: 205px; }

	/* alliance */
	.profile-wrapper-alliance .guild-tabard .crest { background-image: url("../images/guild/sidebar-crest-alliance.png"); }

	/* horde */
	.profile-wrapper-horde .guild-tabard .crest { background-image: url("../images/guild/sidebar-crest-horde.png"); }

/* arena team-specific stuff */

	/* summary header info */
	.profile-arenateam-info .name { float: none;  }
	.profile-arenateam-info .under-name { margin-bottom: 20px; }
	.profile-arenateam-info .bgrating { float: left; font-size: 24px; font-family: 'Arial Black', Arial, sans-serif; font-weight: bold; color: #9E3403; line-height: 23px; }
	.profile-arenateam-info .rank { float: left; margin-left: 20px; font-size: 24px; color: #FEF092; }

	/* flag */
	.arenateam-flag { width: 240px; height: 240px; position: absolute; z-index: 1; left: 757px; top: -19px; background: url("../images/loaders/canvas-loader.gif") no-repeat center center; }
	.arenateam-flag-default { width: 240px; height:240px; background: url("../images/arena/banners/default.png") no-repeat;}

	/* simple flag */
	.arenateam-flag-simple { width: 128px; height: 128px; position: absolute; z-index: 1; }
	.arenateam-flag-simple-default { width: 128px; height: 128px; background: url("../images/arena/banners/default-simple.png") no-repeat;}

/* recent activity */
.profile-recentactivity a.icon-rss { float: right; width: 12px; height: 27px; margin-top: 2px; }
.profile-section .activity-feed-wide dl { clear: both; }
.profile-section .activity-feed-wide dd { line-height: 20px; width: 590px; }
.profile-section .activity-feed-wide dt { float: right; }
.profile-section .activity-note { color: #71401F; font-style: italic; text-align: center; padding-top: 30px; }

/* "read more" links */
a.profile-linktomore { text-align: right; float: right; font-size: 11px; }
a.profile-linktomore:hover { background-position: right -40px; }

/* event boxes */
.event-summary { margin: 5px 0 0 0; line-height: 1.25; position: relative; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.event-summary { cursor: pointer; }
.event-summary.continued-event { display: inline; padding: 0; }
.event-summary a { display: block; padding: 8px; }
.event-summary a:hover { background-color: rgba(71, 30, 13, 0.5); }
.event-summary a:hover .name, .event-summary.selected-event .name { color: white; }
.event-summary.continued-event:hover { background: none; color: #fef092; }
.event-summary.selected-event { background: #471e0d !important; }
.event-summary.selected-event .name { font-weight: bold; }
.event-summary.selected-event .time { color: #E9BD7F; }
.event-summary.continued-event.selected-event { background: none; color: #fff; }
.event-summary .name { color:#FFB100; font-size:14px; font-weight:normal; margin:0; width:200px; overflow: hidden; text-overflow: ellipsis;}
.event-summary .time, .event-summary .time-relative, .event-summary .icon { display: block; color: #71401F; font-size: 11px; margin: 0; }
.event-summary .attendees { color: #8e4328; font-size: 11px; margin: 0; }
.event-summary .icon { display: block; width: 28px; height: 28px; overflow: hidden; background: #7e3406; position: absolute; left: 8px; top: 8px; text-indent: -9999px; }
.event-summary .status { position: absolute; top: 8px; right: 8px; text-align: right; }

/* progress bar */
.profile-progress { color: #F5EBD1; background-color: #542b19; width: 100%; margin: 5px auto 10px; text-align: center; height: 22px; position: relative; }
.profile-progress .bar { background: url(../images/character/achievement/bg-progressbar-fill.gif) repeat-x 0 0; display: block; height: 22px; position: absolute; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-radius-bottomright: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-radius-topright: 0; }
.profile-progress.completed .bar { -moz-border-radius: inherit; -webkit-border-radius: inherit; border-radius: inherit; }
.profile-progress .bar-contents { position: relative; top: 0; font-size: 12px; line-height: 22px; text-shadow: #000 1px 1px 1px ;}

/* dynamic menu styles */
.swipe-container,
#profile-sidebar-menu ul,
.profile-sidebar-menu .root-menu,
.swipe-container .profile-sidebar-menu ul ul { display: none; }
.swipe-container .root-menu { display: block; }
.swipe-container ul ul { margin-left: 10px; }
