@charset "utf-8";
@import url("cms.css");
 
/* Search style overrides */
#search-results .search-categories a { color:#FFAE00; background-color:#2B1507; font-weight:bold; }
#search-results .search-categories a:hover { color:#fff; background-color:#4E2F1B; }
#search-results .search-categories a.selected  { color:#000; background-color:#FFAE00;  }
.search-result .search-title:hover { text-decoration:none; }

.search-categories a,
.multi-type .type-icon { background-image:url(../images/layout/search/search_icons_light.png) }
.search-categories a, .search-categories a.selected { background:none;  }

#search-results .search-categories a { padding-left:10px; margin-right: 5px;}

#search-results .results-title, .related-terms .search-suggest, 
#search-results .results-navigation, #search-results .search-categories, #results-interior .table th:first-child .sort-link { padding-left: 27px }
#search-results table.table .table-link { padding-left: 20px; }

#search-results .results-title { color:#7E3406; letter-spacing: -0.05em; padding-top: 0; font-size: 24px; } 
#search-results .result-set .results-title { padding-top: 15px; font-size: 14px; font-weight: normal; }
.results-navigation .selected { text-decoration:none; }
.list-icon { -moz-border-radius: 3px; }
#search-results .multi-type .type-icon { background-color: transparent; }
#search-results .results-title span { font-weight: bold; }


/* testing */
#search-results { padding: 10px 0 25px 0; }
.search-result { background:#2b1507; }
.search-result:hover { background: #301807; } 
#results-interior { padding: 0; }

#right-results .results-title { color:#f0e29a; padding-left: 0; }
#search-results  #left-results { padding-left: 30px; width: 600px; }
#search-results  #right-results { padding-right: 30px; }
.result-set { border-top-color:#2a1d17; color:#895d3f; padding-bottom: 10px; }

.search-result .result-title { color:#fff; }
.search-result .by-line { color:#824F30; }
.search-result .by-line a { color:#C88217; }
.search-result em, .search-result .search-term { color:#824F30; }
.search-result .search-results-url { color:#824F30; }

.search-result .result-image img { border-color:824F30; }
.search-result .result-image a:hover img { border-color:#C88217; }

.search-result { padding: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin:0 0 5px; }
.search-result .multi-type { padding-left: 45px; }
.search-result .search-term { color: #fff; }
.type-icon { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.multi-type .type-icon { left: -45px; }

#search-again { border:1px solid #33190e; background:url("../images/layout/cms/comments_bg.jpg") 50% 0 no-repeat #21130A; margin: 20px; }

.search-result .fansite-link { display: none; }
.search-result .framed-icon { position: absolute; left: -47px; top: 0; }
.table-link .icon-frame { float: left; margin-right: 5px; margin-top: -2px; }